# Ignore everything
*

# Except the following files
.gitignore
!etmain
!legacy
!legacy/configs
!legacy/configs/hbcgoat.config
!legacy/configs/hbcpub.config
!legacy/luascripts
!legacy/luascripts/wolfadmin
!legacy/luascripts/wolfadmin/commands
!legacy/luascripts/wolfadmin/commands/client
!legacy/luascripts/wolfadmin/commands/client/ac.lua
!legacy/luascripts/wolfadmin/commands/admin
!legacy/luascripts/wolfadmin/commands/admin/hbcsounds.lua
!legacy/luascripts/wolfadmin/commands/admin/rema.lua
!legacy/luascripts/wolfadmin/commands/admin/hbchug.lua
!legacy/luascripts/wolfadmin/commands/admin/hbcspec.lua
!legacy/luascripts/wolfadmin/commands/admin/hbcshufflenr.lua
!legacy/luascripts/wolfadmin/commands/admin/hbcmcday.lua
!legacy/luascripts/wolfadmin/commands/admin/hbcskipmap.lua
!legacy/luascripts/wolfadmin/commands/admin/help.lua
!legacy/luascripts/wolfadmin/commands/admin/setlevel.lua
!legacy/luascripts/wolfadmin/commands/admin/ban.lua
!legacy/luascripts/wolfadmin/commands/admin/finger.lua
!legacy/luascripts/wolfadmin/commands/admin/searchplayer.lua
!legacy/luascripts/wolfadmin/commands/admin/offlinesetlevel.lua
!legacy/luascripts/wolfadmin/commands/admin/offlineban.lua
!legacy/luascripts/wolfadmin/admin
!legacy/luascripts/wolfadmin/admin/admin.lua
!legacy/luascripts/wolfadmin/auth
!legacy/luascripts/wolfadmin/auth/auth.lua
!legacy/luascripts/wolfadmin/db
!legacy/luascripts/wolfadmin/db/sqlite3.lua
!legacy/luascripts/wolfadmin/players
!legacy/luascripts/wolfadmin/players/players.lua
!legacy/luascripts/wolfadmin/util
!legacy/luascripts/wolfadmin/util/util.lua
!legacy/luascripts/test
!legacy/luascripts/test/rspree.lua
!legacy/omni-bot
!legacy/omni-bot/et
!legacy/omni-bot/et/scripts
!legacy/omni-bot/et/scripts/et_botnames_ext.gm
!legacy/omni-bot/et/scripts/def_bot.gm
!legacy/omni-bot/et/user
!legacy/omni-bot/et/user/omni-bot.cfg
!legacy/mapscripts/etl_supply.script
!legacy/mapscripts
