# Ignore everything
*

# Except the following files
.gitignore
!legacy
!legacy/configs
!legacy/configs/hbcpub.config
!legacy/luascripts
!legacy/luascripts/wolfadmin
!legacy/luascripts/wolfadmin/commands
!legacy/luascripts/wolfadmin/commands/admin
!legacy/luascripts/wolfadmin/commands/admin/hbcsounds.lua
!legacy/luascripts/wolfadmin/commands/admin/rema.lua