// Based on ETPro Global 6on6 Config
// Legacy Stopwatch
//
// !!! IMPORTANT NOTE !!!
// Ensure all values are surrounded by quotes, the parser can't properly deal with negative values otherwise.

configname "^3(HBC)^dHELL^3BASKET ^dETL ^3GOAT"

public

init
{

	setl sv_pure "1"
	setl sv_cheats "0"
	setl sv_fps "40"
	setl sv_floodProtect "0"
	setl g_warmup "15"
	setl g_doWarmup "0"
	setl g_voiceChatsAllowed "100"
	setl g_spectatorInactivity "0"
	setl g_friendlyFire "1"
	setl g_heavyWeaponRestriction "16"
	setl g_medicChargeTime "45000"
	setl g_fieldopsChargeTime "35000"
	setl g_engineerChargeTime "30000"
	setl g_soldierChargeTime "30000"
	setl g_covertopschargetime "30000"
	setl g_stickyCharge "2"
	setl g_landminetimeout "0"
	setl g_dropAmmo "0"
	setl g_dropHealth "0"
	setl g_teamForceBalance "0"
	setl g_filtercams "1"
	setl g_fastres "0"
	setl g_noTeamSwitching "1"
	setl g_alliedmaxlives "0"
	setl g_axismaxlives "0"
	setl g_speed "320"
	setl g_gravity "800"
	setl g_knockback "1000"
	setl g_autoFireteams "2"
	setl g_countryFlags "1"
	setl g_misc "0"
	setl g_skillrating "0"
	setl g_dropObjDelay "3000"

	setl team_maxSoldiers "-1"
	setl team_maxMedics "-1"
	setl team_maxEngineers "-1"
	setl team_maxFieldops "4"
	setl team_maxCovertops "-1"
	setl team_maxplayers "0"
	setl team_nocontrols "0"

	setl team_maxFlamers "1"
	setl team_maxMachineguns "1"
	setl team_maxMortars "1"
	setl team_maxRockets "1"
	setl team_maxRiflegrenades "2"

	setl team_maxAirstrikes "1"
	setl team_maxArtillery "1"

	setl team_riflegrenades "2"

	setl match_latejoin "1"
	setl match_minplayers "1"
	setl match_readypercent "100"
	setl match_timeoutcount "2"
	setl match_timeoutlength "240"
	setl match_warmupDamage "2"

	setl sv_minping "0"
	setl sv_maxping "0"

	setl pmove_fixed "0"
	setl pmove_msec "8"

	set nextmap "map_restart 0"

	setl g_allowVote "1"
	setl vote_allow_balancedteams "0"
	setl vote_allow_config "0"
	setl vote_allow_friendlyfire "0"
	setl vote_allow_gametype "0"
	setl vote_allow_kick "0"
	setl vote_allow_map "0"
	setl vote_allow_matchreset "1"
	setl vote_allow_mutespecs "0"
	setl vote_allow_muting "0"
	setl vote_allow_nextmap "0"
	setl vote_allow_referee "0"
	setl vote_allow_shuffleteams "1"
	setl vote_allow_shuffleteams_norestart "1"
	setl vote_allow_surrender "1"
	setl vote_allow_swapteams "0"
	setl vote_allow_timelimit "0"
	setl vote_allow_warmupdamage "0"
	setl vote_allow_maprestart "1"
	setl vote_allow_cointoss "1"
	setl vote_allow_antilag "0"
	setl vote_limit "3"
	setl vote_percent "51"

	setl g_mapscriptdirectory "mapscripts"
	setl g_mapConfigs ""

	setl skill_battlesense "20, 50, 90, 140"
	setl skill_engineer "20, 50, 90, 140"
	setl skill_medic "20, 100, 300, 500"
	setl skill_fieldops "20, 90, 140, 450"
	setl skill_lightweapons "20, 50, 90, 300"
	setl skill_soldier "20, 50, 90, 300"
	setl skill_covertops "20, 50, 90, 140"
  
  command "forcecvar r_wolffog 0"
  command "forcecvar r_zfar 0"
  command "forcecvar r_drawfoliage 0"

	setl g_intermissiontime "20"
	setl g_multiview "0"
	setl g_shove "60"
	setl g_shoveNoZ "1"
	setl g_antiwarp "1"
	setl g_maxWarp "4"
	setl g_antilag "1"
	setl g_realHead "1"
	setl g_fixedphysics "1"
	setl g_fixedphysicsfps "125"
	setl g_campaignfile ""

	setl g_pronedelay "1"

	// set this to disable wolfadmin or enable custom Lua files
	//setl lua_modules ""

	// OMNI-BOT

//set omnibot_enable "1"
//set omnibot_path "./legacy/omni-bot"
//set omnibot_flags "0"
